 /* Import fonts */
@font-face {
    font-family: 'Myriad Pro Text';
    src: url("fonts/Myriad Pro - Text.ttf");
    font-display: swap;
}
@font-face {
    font-family: 'Myriad Pro Thin';
    src: url("fonts/Myriad Pro - Thin.ttf");
    font-display: swap;
}
/* animation for arrow-down */
@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(24px);
    }
}
@media (hover:hover) {
    .nav-main>a:hover {
        color: light-dark(black, white);
    }
    .nav-desktop>a:hover {
        color: light-dark(black, white);
    }
    .nav-toggle:hover .bar1 {
        background-color: light-dark(black, white);
    }
    .nav-toggle:hover .bar2 {
        background-color: light-dark(black, white);
    }
    .nav-mobile-menu>a:hover {
        color: light-dark(black, white);
    }
    .brighter-onhover:hover {
    filter: brightness(1.2);
    }
    main>a:hover {
        opacity: 1;
    }
    #certifications-awards>div>a:hover {
        background-color: var(--blue);
        color: white;
    }
}
@media (prefers-color-scheme: light) {
    .light-only {
        display: initial !important;
    }
    .dark-only {
        display: none !important;
    }
}
@media (prefers-color-scheme: dark) {
    .light-only {
        display: none !important;
    }
    .dark-only {
        display: initial !important;
    }
}
* {
    font-family: "Myriad Pro Text", "Helvetica Neue", "Helvetica";
    text-decoration: none;
}
header, h1, h2, h3, h4, h5, h6, p {
    color: light-dark(black, white);
    text-align: justify;
}
:root {
    color-scheme: light dark;
    scroll-behavior: smooth;
    background-color: light-dark(white, black);
    font-size: clamp(16px, 2vmin, 20px);

    --transparent-white: hsla(0, 0%, 100%, 0.8);
    --transparent-black: hsla(0, 0%, 0%, 0.8);
    --gray30: hsl(0, 0%, 30%);
    --gray70: hsl(0, 0%, 70%);
    --blue: rgb(50, 117, 229);
}
body {
    min-width: 320px;
    padding: 0;
    margin: 0;
    background-color: light-dark(white, black);
    opacity: 0;
    transition: opacity 3s;
    -webkit-tap-highlight-color: transparent;
}
.fullscreen-nav {
    overflow: hidden;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 48px;
    padding: 0 36px;
    border-bottom: 1px solid light-dark(hsl(0, 0%, 80%), hsl(0, 0%, 20%));
    background-color: light-dark(hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 0%, 0.6));
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    transition: height .4s ease-in-out, background-color .1s ease-in-out .3s;
    overflow: hidden;
}
.nav-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 48px;
    max-width: 996px;
    margin: 0 auto;
}
.nav-main>a {
    font-family: "Myriad Pro Thin", "Helvetica Neue", "Helvetica";
    font-size: 22px;
    color: light-dark(var(--transparent-black), var(--transparent-white));
    transition: color .3s;
}
.nav-desktop>a {
    font-family: "Myriad Pro Thin", "Helvetica Neue", "Helvetica";
    font-size: 18px;
    color: light-dark(var(--transparent-black), var(--transparent-white));
    transition: color .3s;
    padding-left: 22px;
}
.nav-desktop>a:first-child {
    padding-left: 0;
}
.nav-toggle {
    display: none;
    width: 24px;
    height: 12px;
    cursor: pointer;
}
.bar1, .bar2 {
    display: block;
    width: 24px;
    height: 1px;
    background-color: light-dark(var(--transparent-black), var(--transparent-white));
    transition: background-color .3s, transform .4s;
}
.bar1 {
    margin-bottom: 10px;
}
.nav-separator {
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: light-dark(var(--gray70), var(--gray30));
    opacity: 0.2;
    transition: opacity .3s ease-in-out .1s, margin .3s ease-in-out .1s;
}
.nav-mobile-menu {
    position: absolute;
    top: 49px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    padding: 0 48px 24px;
    overflow-y: auto;
    transition: opacity .3s ease-in-out .1s, top .3s ease-in-out .1s;
}
.nav-mobile-menu>a {
    font-family: "Myriad Pro Thin", "Helvetica Neue", "Helvetica";
    display: block;
    text-align: left;
    font-size: 18px;
    color: light-dark(var(--transparent-black), var(--transparent-white));
    padding: 24px 0;
    border-bottom: 1px solid light-dark(var(--gray70), var(--gray30));
    transition: color .3s;
}
.nav-mobile-menu>a:last-child {
    border-style: none;
}
.mobile .nav-desktop {
    display: none !important;
}
.mobile .nav-toggle {
    display: inline-block !important;
}
.fullscreen-nav nav {
    height: 100% !important;
    background-color: light-dark(white, black) !important;
    transition: height .4s ease-in-out, background-color .1s ease-in-out !important;
}
.fullscreen-nav .bar1 {
    transform: translate(0px, 6px) rotate(-45deg);
}
.fullscreen-nav .bar2 {
    transform: translate(0px, -5px) rotate(45deg);
}
.fullscreen-nav .nav-separator {
    opacity: 1 !important;
    margin-top: 22px;
}
.fullscreen-nav .nav-mobile-menu {
    opacity: 1 !important;
    top: 71px !important;
}
.brighter-onhover {
    transition: filter 0.3s ease-in-out;
    cursor: pointer;
}
main {
    box-sizing: border-box;
    background:
        linear-gradient(
            to bottom,
            light-dark(transparent, hsla(0, 0%, 0%, 0.8)),
            light-dark(transparent, hsla(0, 0%, 0%, 0.2))
        ),
        url("images/backdrop.jpg")
    ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    padding: 78px 48px 48px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main>img {
    width: clamp(160px, 50vw, 320px);
    border-radius: 50%;
    border: 3px solid white;
}
main>h1 {
    color: white;
    font-size: 5rem;
    margin: 2rem 0 1rem;
    text-align: center;
    line-height: 5rem;
}
main>h2 {
    color:white;
    opacity: 0.9;
    font-size: 1.6rem;
    text-align: center;
}
main>a {
    margin: 2rem 0;
    color: white;
    opacity: 0.8;
    font-size: 3rem;
    animation: bounce alternate 2s ease-in-out infinite;
    transition: opacity 0.3s;
}
section {
    background-color: light-dark(hsl(0, 0%, 98%), hsl(0, 0%, 8%));
    border-top: 10px solid light-dark(white, hsl(0, 0%, 10%));
    padding: 72px 36px;
}
section>*, footer>* {
    max-width: 996px;
    margin: 0 auto;
}
header {
    padding-bottom: 24px;
    font-size: 3rem;
    text-align: left;
}
#about>p {
    text-align: left;
    font-size: 1.3rem;
}
.position-logo {
    font-size: 36px;
    margin: 24px 0 0;
}
.title {
    margin: 24px 0 0;
    font-weight: 600;
}
.company {
    margin: 0;
    font-weight: 400;
}
.date {
    margin: 24px 0 0;;
    font-weight: 200;
}
.city {
    margin: 0;
    font-weight: 200;
}
.description {
    margin: 24px 0 0;
    font-size: 1.2rem;
}
#education>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#education img {
    width: 256px;
}
#education>div>div {
    padding: 24px 24px 24px 0;
}
.projects-grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 36px;
}
.projects-grid>div {
    background-color: light-dark(hsl(0, 0%, 94%), hsl(0, 0%, 12%));
    padding: 24px;
    margin: 0;
    border-radius: 12px;
    max-width: 480px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 320px;
}
.projects-grid img {
    width: 100%;
    border-radius: 12px;
}
.project-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 6px;
}
.project-type {
    background-color: light-dark(hsl(0, 0%, 88%), hsl(0, 0%, 18%));
    border-radius: 20px;
    padding: 6px 12px;
    margin: 0;
    font-size: 1rem;
}
#certifications-awards>div>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 16px;
    margin-bottom: 16px;
}
#certifications-awards>div>div>img {
    width: 64px;
}
#certifications-awards h1 {
    font-size: 1.5rem;
    margin: 0;
    color: light-dark(var(--gray30), var(--gray70));
    text-align: left;
}
#certifications-awards h3 {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
}
#certifications-awards>div>p {
    font-size: 1.1rem;
}
#certifications-awards>div>a {
    font-size: 1.1rem;
    color: var(--blue);
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid var(--blue);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.skills-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 36px;
}
.skills-grid>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: min-content;
}
.skills-grid img {
    height: clamp(64px, 7vw, 96px);
}
.skills-grid p {
    display: inline-block;
    margin: 0;
    font-size: 1rem;
    color: light-dark(var(--gray30), var(--gray70));
    text-align: center;
}
footer {
    background-color: light-dark(hsl(0, 0%, 98%), hsl(0, 0%, 8%));
    border-top: 12px solid light-dark(white, hsl(0, 0%, 10%));
    padding: 18px 36px;
}
footer>div {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    row-gap: 12px;
    column-gap: 24px;
}
footer p {
    margin: 0;
    color: light-dark(hsl(0, 0%, 39%), hsl(0, 0%, 61%));
    text-align: left;
}
footer img {
    height: 32px;
    margin-left: 16px;
}
footer>div>div>a:first-child img {
    margin-left: 0;
}
footer>div>div>a:nth-child(2) img {
    margin-left: 0;
}
