 /* Import fonts */
 @font-face {
    font-family: 'SF Pro';
    src: url(fonts/SF-Pro.ttf) format('truetype');
    font-display: block;
 }
/* animation for arrow-down */
@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(24px);
    }
}
/* Styles applied if the device supports hover */
@media (hover:hover) {
    nav a:hover {
        color: light-dark(black, white);
    }
    .nav-toggle:hover span {
        background-color: light-dark(black, white);
    }
    .brighter-onhover:hover {
    filter: brightness(1.2);
    }
    main>a:hover {
        opacity: 1;
    }
    .button:hover {
        background-color: var(--blue);
        color: white;
    }
}
@media (prefers-color-scheme: light) {
    .light-only {
        display: initial !important;
    }
    .dark-only {
        display: none !important;
    }
}
@media (prefers-color-scheme: dark) {
    .light-only {
        display: none !important;
    }
    .dark-only {
        display: initial !important;
    }
}
* {
    font-family: "SF Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    text-decoration: none;
}
:root {
    color-scheme: light dark;
    scroll-behavior: smooth;
    background-color: light-dark(white, black);
    font-size: clamp(16px, 0.5vw + 14.4px, 24px);

    --bg-light: hsl(0, 0%, 98%);
    --bg2-light: hsl(0, 0%, 94%);
    --bg-dark: hsl(0, 0%, 4%);
    --bg2-dark: hsl(0, 0%, 10%);
    --border-light: hsl(0, 0%, 100%);
    --border-dark: hsl(0, 0%, 8%);
    --highlight-light: hsl(0, 0%, 86%);
    --highlight-dark: hsl(0, 0%, 16%);
    --heading-light: hsl(0, 0%, 4%);
    --heading2-light: hsl(0, 0%, 8%);
    --heading-dark: hsl(0, 0%, 96%);
    --heading2-dark: hsl(0, 0%, 92%);
    --text-light: hsl(0, 0%, 12%);
    --text-dark: hsl(0, 0%, 88%);
    --transparent-white: hsla(0, 0%, 100%, 0.8);
    --transparent-black: hsla(0, 0%, 0%, 0.8);
    --blue: rgb(50, 117, 229);
}
body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    overflow-x: hidden;
    background-color: light-dark(white, black);
    opacity: 0;
    -webkit-tap-highlight-color: transparent;
    transition: opacity 3s;
}
.fullscreen-nav {
    overflow: hidden;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 48px;
    border-bottom: 1px solid light-dark(hsl(0, 0%, 80%), hsl(0, 0%, 20%));
    padding: 0 36px;
    background-color: light-dark(hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 0%, 0.5));
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    overflow: hidden;
    transition: height .4s ease-in-out, background-color .1s ease-in-out .3s;
}
.nav-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto;
    height: 48px;
    max-width: 996px;
}
.nav-main>a {
    font-size: 20px;
    font-weight: 400;
    color: light-dark(var(--transparent-black), var(--transparent-white));
    transition: color .3s;
}
.nav-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 16px;
}
.nav-desktop>a {
    font-size: 16px;
    font-weight: 200;
    color: light-dark(var(--transparent-black), var(--transparent-white));
    transition: color .3s;
}
.nav-toggle {
    display: none;
    width: 24px;
    height: 12px;
    cursor: pointer;
}
.bar1, .bar2 {
    display: block;
    width: 24px;
    height: 1px;
    background-color: light-dark(var(--transparent-black), var(--transparent-white));
    transition: background-color .3s, transform .4s;
}
.bar1 {
    margin-bottom: 10px;
}
.nav-separator {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: light-dark(var(--text-dark), var(--text-light));
    opacity: 0.2;
    transition: opacity .3s ease-in-out .1s, margin .3s ease-in-out .1s;
}
.nav-mobile-menu {
    position: absolute;
    top: 49px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 48px 24px;
    opacity: 0.2;
    overflow-y: auto;
    transition: opacity .3s ease-in-out .1s, top .3s ease-in-out .1s;
}
.nav-mobile-menu a {
    display: block;
    border-bottom: 1px solid light-dark(var(--text-dark), var(--text-light));
    padding: 24px 0;
    font-size: 16px;
    font-weight: 200;
    color: light-dark(var(--transparent-black), var(--transparent-white));
    transition: color .3s;
}
.nav-mobile-menu>a:last-child {
    border-style: none;
}
.mobile .nav-desktop {
    display: none !important;
}
.mobile .nav-toggle {
    display: inline-block !important;
}
.fullscreen-nav nav {
    height: 100% !important;
    background-color: light-dark(white, black) !important;
    transition: height .4s ease-in-out, background-color .1s ease-in-out !important;
}
.fullscreen-nav .bar1 {
    transform: translate(0px, 6px) rotate(-45deg);
}
.fullscreen-nav .bar2 {
    transform: translate(0px, -5px) rotate(45deg);
}
.fullscreen-nav .nav-separator {
    opacity: 1 !important;
    margin-top: 22px;
}
.fullscreen-nav .nav-mobile-menu {
    opacity: 1 !important;
    top: 71px !important;
}
.brighter-onhover {
    transition: filter 0.3s ease-in-out;
}
.button {
    border: 1px solid var(--blue);
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 1rem;
    color: var(--blue);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
header {
    padding-bottom: 2rem;
    font-size: 3rem;
    font-weight: 500;
    color: light-dark(var(--heading-light), var(--heading-dark));
}
h1, h2, h3, h4, h5, h6 {
    color: light-dark(var(--heading2-light), var(--heading2-dark));
}
h1 {
    font-weight: 400;
}
p, span {
    color: light-dark(var(--text-light), var(--text-dark));
    text-align: justify;
    line-height: 1.25;
}
main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 48px 48px 48px;
    background:
        linear-gradient(
            to bottom,
            light-dark(transparent, hsla(0, 0%, 0%, 0.8)),
            light-dark(transparent, hsla(0, 0%, 0%, 0.2))
        ),
        url("images/backdrop.jpg")
    ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    min-height: 100vh;
}
main img {
    width: 16rem;
    border-radius: 50%;
    border: 3px solid white;
}
main h1 {
    margin: 2rem 0 1rem;
    text-align: center;
    font-size: 5rem;
    line-height: 4rem;
    color: var(--heading-dark);
}
main h2 {
    margin: 1rem 0 2rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    color:var(--heading2-dark);
}
main a {
    margin: 0;
    font-size: 3rem;
    color: var(--transparent-white);
    opacity: 0.8;
    animation: bounce alternate 2s ease-in-out infinite;
    transition: opacity 0.3s;
}
section {
    border-top: 10px solid light-dark(var(--border-light), var(--border-dark));
    padding: 72px 36px;
    background-color: light-dark(var(--bg-light), var(--bg-dark));
}
section>*, footer>* {
    max-width: 996px;
    margin: 0 auto;
}
#about p {
    font-size: 1.1rem;
}
.company-logo {
    margin: 0 0 1rem;
    font-size: 3rem;
}
.job-title {
    margin: 1rem 0 0;
    font-size: 1.5rem;
    font-weight: 500;
}
.company-name {
    margin: 0 0 1rem;
    font-size: 1.3rem;
    font-weight: 500;
}
.date-span {
    margin: 1rem 0 0;
    font-size: 1.1rem;
    font-weight: 400;
}
.location {
    margin: 0 0 1rem;
    font-size: 1.1rem;
    font-weight: 400;
}
.job-description {
    margin: 1rem 0 0;
    font-size: 1.1rem;
}
.projects-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.5rem;
}
.projects-flex>div {
    border-radius: 12px;
    padding: 1rem 1rem 2rem;
    max-width: 480px;
    background-color: light-dark(var(--bg2-light), var(--bg2-dark));
    flex: 1 1 320px;
}
.projects-flex img {
    border-radius: 12px;
    width: 100%;
}
.projects-flex h1 {
    margin: 0.5rem 0;
    font-size: 1.3rem;
}
.projects-flex h2 {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 300;
}
.projects-flex p {
    margin: 1rem 0 1.2rem;
    font-size: 1rem;
}
.projects-flex>div>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 6px;
}
.projects-flex span {
    border-radius: 20px;
    padding: 8px 12px;
    background-color: light-dark(var(--highlight-light), var(--highlight-dark));
    font-size: 0.8rem;
}
.education-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.education-flex img {
    width: 256px;
}
.education-flex h1 {
    margin: 1rem 0;
    font-size: 1.5rem;
}
.education-flex p {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}
.certification-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    margin: 0 0 1rem;
}
#certifications img {
    width: 64px;
}
#certifications h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
}
#certifications h2 {
    margin: 1rem 0;
    font-size: 1.1rem;
    text-decoration: underline;
}
#certifications p {
    margin: 1rem 0 2rem;
    font-size: 1.1rem;
}
.skills-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1.5rem;
}
.skills-flex>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: min-content;
}
.skills-flex img {
    height: 4rem;
}
.skills-flex span {
    font-size: 0.9rem;
    text-align: center;
}
footer {
    border-top: 12px solid light-dark(var(--border-light), var(--border-dark));
    padding: 20px 36px;
    background-color: light-dark(var(--bg-light), var(--bg-dark));
}
.footer-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 1rem;
}
.footer-flex p {
    margin: 0;
    text-align: left;
    font-size: 0.8rem;
}
.footer-flex>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 16px;
}
.footer-flex a {
    height: 32px;
}
.footer-flex img {
    height: 100%;
}