@font-face {
    font-family: 'Myriad Pro Text';
    src: url('/Myriad Pro - Text.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Myriad Pro Thin';
    src: url('/Myriad Pro - Thin.ttf');
    font-display: swap;
}
@keyframes stretch {
    from {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    to {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
    }
}
@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}
@media (min-width: 769px) {
    html {
        font-size: 16px;
    }
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    min-width: min-content;
    transition: 0.8s opacity;
}
.fade-out {
    opacity: 0;
    transition: none;
}
.fullscreen-nav {
    overflow: hidden;
}
.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    height: 72px;
    margin: 0;
    padding: 0;
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
    backdrop-filter: saturate(1.8) blur(20px);
    transition: height 0.5s ease-in-out, background-color 0.2s ease-in-out 0.3s;
    overflow: hidden;
}
.nav-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 72px;
}
.nav-main>a {
    text-decoration: none;
    font-family: "Myriad Pro Thin", "Helvetica Neue", "Helvetica";
    font-size: 30px;
    color: rgb(255, 255, 255);
    transition: color .25s;
}
.nav-main>a:hover {
    color: rgb(155, 155, 155);
}
.nav-desktop>a {
    text-decoration: none;
    font-family: "Myriad Pro Text", "Helvetica Neue", "Helvetica";
    font-size: 20px;
    color: rgb(255, 255, 255);
    transition: color .25s;
    padding: 0 .5vw;
}
.nav-desktop>a:hover {
    color: rgb(155, 155, 155);
}
.nav-toggle {
    display: none;
    width: 24px;
    height: 12px;
    cursor: pointer;
}
.nav-toggle:hover .bar1 {
    background-color: rgb(245, 245, 245);
}
.nav-menu-btn:hover .bar2 {
    background-color: rgb(245, 245, 245);
}
.bar1 {
    display: block;
    width: 24px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    transition: 0.5s;
}
.bar2 {
    display: block;
    width: 24px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: 0;
    transition: 0.5s;
}
.nav-separator {
    height: 1px;
    background-color: rgb(155, 155, 155);
    width: 100vw;
    margin: 0;
    padding: 0;
    opacity: 0.1;
    transition: opacity 0.5s ease-in-out, margin 0.5s ease-in-out;
}
.nav-mobile-menu {
    opacity: 0.1;
    height: auto;
    margin: 0;
    padding: 0 20%;
    transition: opacity 0.5s ease-in-out;
}
.nav-mobile-menu>a {
    display: block;
    text-align: left;
    font-family: "Myriad Pro Text", "Helvetica Neue", "Helvetica";
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 24px 0;
    margin: 0;
    border-bottom: 1px solid rgb(155, 155, 155);
    transition: color 0.4s;
}
.nav-mobile-menu>a:hover {
    color: rgb(155, 155, 155)
}
.mobile .nav-desktop {
    display: none;
}
.mobile .nav-toggle {
    display: inline-block;
}
.fullscreen-nav .nav-container {
    height: 100vh !important;
    overflow: auto !important;
}
.fullscreen-nav .bar1 {
    -webkit-transform: translate(0px, 6px) rotate(-45deg);
    transform: translate(0px, 6px) rotate(-45deg);
}
.fullscreen-nav .bar2 {
    -webkit-transform: translate(0px, -5px) rotate(45deg);
    transform: translate(0px, -5px) rotate(45deg);
}
.fullscreen-nav .nav-separator {
    opacity: 1;
    margin-top: 24px;
}
.fullscreen-nav .nav-mobile-menu {
    opacity: 1;
}
header, h1, h2, p, span {
    font-family: "Myriad Pro Text", "Helvetica Neue", "Helvetica";
}
main {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url("main-img.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 102px 30px 30px 30px;
    height: calc(100vh - 132px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 650px;
}
main>img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 4px 45px -10px #000000;
    flex-grow: 0;
    flex-shrink: 0;
}
main>h1 {
    color: white;
    font-size: 5rem;
    margin: 2vh 0 1vh;
    text-align: center;
}
main>h2 {
    color:rgb(245, 245, 245);
    font-size: 2rem;
    margin: 0;
    text-align: center;
}
main>p {
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 3rem;
    animation: stretch alternate 2s ease-in-out infinite;

}
section {
    background-color: rgb(250, 250, 250);
    border-top: 12px solid white;
    padding: 72px 40px;
}
section>* {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
header {
    padding: 20px;
    font-size: 3rem;
    text-align: left;
}
.about>p {
    margin: 20px auto;
    text-align: left;
    font-size: 1.4rem;
}
.projects-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.projects-grid>div {
    background-color: rgb(240, 240, 240);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    max-width: 360px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 240px;
}
.projects-grid img {
    width: 100%;
    border-radius: 10px;
}
.project-type {
    background-color: rgb(225, 223, 223);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 1rem;
}
footer {
    padding: 20px 40px;
}
footer>p {
    color: rgb(100, 100, 100);
    max-width: 1000px;
    margin: 0 auto;
}
